<%= header %>
<div class="content-block">
  <div class="rec-block">
    <p><%= @clinic.name %></p>
    <p><%= @clinic.station %></p>
    <p><%= @clinic.canon %></p>
    <p><%= @clinic.address %></p>
    <p><%= @clinic.tel %></p>
    <p><%= @clinic.url %></p>
  </div>
</div>
<%= footer %>
