<script src="/google_map.js" charset="UTF-8"></script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false" charset="UTF-8"></script>
<script>
$(document).ready(function(){
  googlemap_init('google_map', "<%= @clinic.address %>");
});
</script>
<%= header %>
<div class="content-block">
  <div class="rec-block">
    <h2><%= @clinic.name %></h2>
    <p><%= @clinic.canon %></p>
    <p>最寄駅: <%= @clinic.station %></p>
    <p><%= @clinic.address %></p>
    <div id="google_map" style="width: 100%; height: 200px"></div>
    <% if @clinic.tel.present? %>
      <p>電話番号: <%= @clinic.tel %></p>
      <a href="tel:<%= @clinic.tel %>"><p class="clinic-button">電話する</p></a>
    <% end %>
    <% if @clinic.url.present? %>
      <p>Webサイト: <%= @clinic.url %></p>
      <a href="<%= @clinic.url %>"><p class="clinic-button">サイトを見る</p></a>
    <% end %>
  </div>

  <% if @close_clinics.present? %>
    <h3><%= @clinic.name %>の周辺の<%= @clinic.canon.split(",")[0] %></h3>
    <%= search @close_clinics %>
  <% end %>
</div>
<%= footer %>
