<script src="http://maps.google.com/maps/api/js?v=3&sensor=false" charset="UTF-8"></script>
<script>
$(document).ready(function(){
  googlemap_init('google_map', '東京都千代田区丸の内1丁目7-12');
});
</script>
<%= header %>
<div class="content-block">
  <div class="rec-block">
    
    
    <p><%= image_tag "top1.png", size: "30x30" %><%= @clinic.name %></p>
    <p><%= @clinic.station %></p>
    <p><%= @clinic.canon %></p>
    <p><%= image_tag "top2.png", size: "30x30" %><%= @clinic.address %></p>
    <a href="tel:<%= @clinic.tel %>"><%= @clinic.tel %></a>
    <p><%= @clinic.url %></p>
    <div id="google_map" style="width: 600px; height: 600px"></div>
  </div>
  <%= search @close_clinics %>
</div>
<%= footer %>
