<div class="popup popup-about">
  <div class="close-button close-popup">
    ×
  </div>
  <div class="list-block">
    <p class="popup-title">あなたのオススメの（行きつけの）病院を教えてください（後から何度でも編集できます。<span class="ast">*</span>は必須）</p>
    <ul class="popup-list">
      <li style="display: none;">
      <input class="rec-id" type="text">
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">科目<span class="ast">*</span></div>
          <div class="item-input">
            <select class="department">
              <option value="1">内科</option>
              <option value="2">歯科</option>
              <option value="3">眼科</option>
              <option value="4">耳鼻科</option>
              <option value="5">皮膚科</option>
              <option value="6">形成外科</option>
              <option value="7">整形外科</option>
              <option value="8">泌尿器科</option>
              <option value="9">小児科</option>
              <option value="10">産婦人科</option>
              <option value="11">精神科</option>
            </select>
          </div>
        </div>
      </div>
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">病院名<span class="ast">*</span></div>
          <div class="item-input">
            <input class="doctor" type="text" placeholder="例) あいうえお眼科">
          </div>
        </div>
      </div>
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">最寄駅<span class="ast">*</span></div>
          <div class="item-input">
            <input class="location" type="text" placeholder="例) 渋谷">
          </div>
        </div>
      </div>
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner item-inner-last">
          <div class="item-title label">コメント</div>
          <div class="item-input">
            <textarea class="comment" placeholder="例) 丁寧に話を聞いてくれました。" col="100"></textarea>
          </div>
        </div>
      </div>
      </li>
      <p class="my-button green submit">送信</p>
      <p class="my-button red delete">このオススメを削除</p>
    </ul>
  </div>
</div>

<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="list-block">
    <ul class="menu">
      <% @my_recommendations.each do |r| %>
        <% if r.department != 0 %>
          <li id="<%= r.id.to_s.html_safe %>" class="open-popup border my-recommendation" department="<%= r.department.to_s.html_safe %>" location="<%= r.location.html_safe %>" comment="<%= r.comment.html_safe %>"><%= r.doctor.html_safe %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="views">
  <div class="view view-main" style="background: #fff;">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left open-panel">
          <p class="link open-panel">　</p>
        </div>

        <div class="center sliding logo">ISHALAN</div>
        <div class="right sliding">
          <%= image_tag @picture, class: "fb-picture" %>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-block">
        <p class=" open-popup top-button new-recommendation">オススメを入力</p>
        <div class="item-input department-selector">
          <select class="department">
            <option value="0">すべての科目</option>
            <option value="1">内科</option>
            <option value="2">歯科</option>
            <option value="3">眼科</option>
            <option value="4">耳鼻科</option>
            <option value="5">皮膚科</option>
            <option value="6">形成外科</option>
            <option value="7">整形外科</option>
            <option value="8">泌尿器科</option>
            <option value="9">小児科</option>
            <option value="10">産婦人科</option>
            <option value="11">精神科</option>
          </select>
        </div>

        <% if @friends_recommendations.nil? %>

        <% else %>
          <div class="content-block-title">友達のオススメ</div>
          <div class="list-block media-list">
            <ul>
            <% @friends_recommendations.each do |r| %>
              <% if r.department != 0 %>
                <li class="recommendation department<%= r.department %>">
                <a href="#" class="item-link item-content open-popover" data-popover=".popover-rec<%= r.id %>">
                  <div class="item-media">
                    <%= image_tag "fb_pics/#{r.uid}.jpg", class: "friend_pic" %>
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title"><%= r.doctor.html_safe %></div>
                      <div class="item-after"><%= r.location.split("駅")[0].html_safe %></div>
                    </div>
                    <div class="item-subtitle"><%= r.department_string %></div>
                    <div class="item-text"><%= r.comment.html_safe %></div>
                  </div>
                </a>
                </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        <% end %>
        <% if @others_recommendations.nil? %>

        <% else %>
          <div class="content-block-title">みんなのオススメ</div>
          <div class="list-block media-list">
            <ul>
            <% @others_recommendations.each do |r| %>
              <% if r.department != 0 %>
                <li class="recommendation department<%= r.department %>">
                <a href="#" class="item-link item-content open-popover" data-popover=".popover-rec<%= r.id %>">
                  <div class="item-media">
                    <%= image_tag "fb_pics/#{r.uid}.jpg", class: "friend_pic" %>
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title"><%= r.doctor.html_safe %></div>
                      <div class="item-after"><%= r.location.split("駅")[0].html_safe %></div>
                    </div>
                    <div class="item-subtitle"><%= r.department_string %></div>
                    <div class="item-text"><%= r.comment.html_safe %></div>
                  </div>
                </a>
                </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @friends_recommendations.each do |r| %>
  <div class="popover popover-rec<%= r.id %>">
    <div class="popover-angle"></div>
    <div class="popover-inner">
      <div class="content-block">
        <p><%= r.comment.html_safe %></p>
      </div>
    </div>
  </div>
<% end %>
<% @others_recommendations.each do |r| %>
  <div class="popover popover-rec<%= r.id %>">
    <div class="popover-angle"></div>
    <div class="popover-inner">
      <div class="content-block">
        <p><%= r.comment.html_safe %></p>
      </div>
    </div>
  </div>
<% end %>

