<% content_for :title do %>「<%= @first %>」から始まる駅名<% end %>

<%= header %>
<div class="content-block">
  <div class="content-block-title"><%= page_entries_info @stations %></div>
  <div class="list-block">
    <%= paginate @stations %>
    <ul>
      <% @stations.each do |s| %>
        <a class="station-name" href="/search?s=<%= s.name %>">
        <li class="item-content">
        <div class="item-inner">
          <div class="item-title"><%= s.name %></div>
        </div>
        </li>
      </a>
    <% end%>
    </ul>
    <%= paginate @stations %>
  </div>
</div>
<%= footer %>
